# Configuración de Base de Datos PostgreSQL
DATABASE_URL=postgresql://postgres:password123@db:5432/mchav_db

# Configuración de Aplicación y URLs
FRONTEND_URL=http://localhost:5173
SESSION_SECRET_KEY=mchav_super_secret_key_prod_2026

# Integración OAuth 2.0 con Atlassian Jira (Login de App)
JIRA_CLIENT_ID=tu_jira_client_id
JIRA_CLIENT_SECRET=tu_jira_client_secret
JIRA_CALLBACK_URL=http://localhost:8000/api/auth/callback

# Credenciales de Extracción por API Token (Fallback sin Rate Limits)
JIRA_DOMAIN=https://beltrancamilo592.atlassian.net
JIRA_EMAIL=salamancamai12@gmail.com
JIRA_API_TOKEN=ATATT3xFfGF0FUyvvODkNNGv_veWIQ3pGUHAikzSK6poMj1t2Y6TKi7qDR3fBb7AaSH7aK6aeYTgIQEBz-_02Wncv2sTxu2sza4tUE9BnMNrW8PRo9vh_I7EzPOqcS0-ReMN1dgp6WLMVpxlEr0mJPx_U8MU3o8pWTMFtckdevroBvs5HKRy0Zg=87A321E0

# Seguridad de la Documentación FastAPI (/docs)
DOCS_USER=admin
DOCS_PASSWORD=MchavDocs2026!Sec#Admin
